span {
  font-size:100px;
  position:relative;
  color:rgba(88,0,0,0.5);
  background-image:linear-gradient(to right,rgb(88,0,0) 0%,rgb(88,0,0) 49.99%,rgba(88,0,0,0.5) 50%,rgba(88,0,0,0.5) 100%);
  -webkit-background-clip:text;
}